@charset "utf-8";
/*Mass Reset*/


html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, 
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size:12px;
	text-align: left;
	vertical-align: baseline;
}
td{font-size:12px;}
a img {border:none;}
table {border-collapse: collapse; border-spacing: 0;}
q:before, q:after, blockquote:before, blockquote:after {content: "";}


body{ background:white; font-size:12px; font-family:Verdana, Arial,  "","΢ź";}
a{ text-decoration:none; color:#767676;}
a:hover{text-decoration:none!important;}
span.detailed  a{color:#498ab7!important;}
span.fulltext  a{color:#ff6600!important;}
